* {
	margin: 0;
	padding: 0;
}
.register-form {
	position: relative;
	height: 370px;
	width: 350px;
	border: 1px solid black;
	border-radius: 20px;
}
.register-form .form-field {
	position: relative;
	top: 30px;
}
.form-field1 {
	position: relative;
	top: 30px;
	left: 0px;
}
.btn {
	position: absolute;
	top: 250px;
	right: 140px;
}
.spanfname {
	color: red;
	position: absolute;
	font-size: 12px;
	top: 60px;
	right: 150px;
}
.spanlname {
	color: red;
	position: absolute;
	font-size: 12px;
	top: 110px;
	right: 165px;
}
.spanemail {
	color: red;
	position: absolute;
	font-size: 12px;
	top: 163px;
	right: 163px;
}
.spanpassword {
	color: red;
	position: absolute;
	font-size: 12px;
	top: 215px;
	right: 165px;
}
.spanerror {
	font-size: 13px;
	color: red;
	position: absolute;
	right: 130px;
	letter-spacing: 1px;
	top: 55px;
}
.spanerror1 {
	font-size: 13px;
	color: red;
	position: absolute;
	right: 130px;
	letter-spacing: 1px;
	top: 110px;
}
.spanerror2 {
	font-size: 13px;
	color: red;
	position: absolute;
	right: 130px;
	letter-spacing: 1px;
	top: 160px;
}
.spanerror3 {
	font-size: 13px;
	color: red;
	position: absolute;
	top: 215px;
	right: 130px;
	letter-spacing: 1px;
}
.spanerror4 {
	font-size: 13px;
	color: red;
	position: absolute;
	top: 160px;
	right: 130px;
	letter-spacing: 1px;
}
h4 {
	position: absolute;
	left: 40px;
	top: 300px;
	cursor: pointer;
}
